In [1]:
import pandas as pd
import numpy as np

path = r"C:/Users/cbi7088/NCAA2020"

In [3]:
season_result = pd.read_csv(path+'/MDataFiles_Stage1/MRegularSeasonCompactResults.csv')

wdf = season_result.groupby(['Season','WTeamID'],as_index=False).count()
wdf = wdf.drop(['WScore','LTeamID','LScore','WLoc','NumOT'],axis=1)
wdf.rename(columns={'WTeamID':'TeamID', 'DayNum':'Wins'}, inplace=True)

ldf = season_result.groupby(['Season','LTeamID'],as_index=False).count()
ldf = ldf.drop(['LScore','WTeamID','WScore','WLoc','NumOT'],axis=1)
ldf.rename(columns={'LTeamID':'TeamID', 'DayNum':'Losses'}, inplace=True)

wl_df = pd.merge(wdf, ldf, left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'], how='left')
wl_df['WinPct'] = wl_df['Wins']/(wl_df['Wins']+wl_df['Losses'])
wl_df

       Season  TeamID  Wins  Losses    WinPct
0        1985    1102     5    19.0  0.208333
1        1985    1103     9    14.0  0.391304
2        1985    1104    21     9.0  0.700000
3        1985    1106    10    14.0  0.416667
4        1985    1108    19     6.0  0.760000
...       ...     ...   ...     ...       ...
11222    2019    1462    18    15.0  0.545455
11223    2019    1463    21     7.0  0.750000
11224    2019    1464    10    20.0  0.333333
11225    2019    1465    12    14.0  0.461538
11226    2019    1466     7    22.0  0.241379

[11227 rows x 5 columns]